/* HOME */
canvas {
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(1px);

    z-index: -1;
}

#Home {
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.backgroundHome {
    width: 105vw;
    height: 100vh;

    background-image: url(https://media.moddb.com/images/games/1/48/47046/FC_Primal_Twitter_Tweet_3.jpg);
    background-position: fixed;
    /* background-size: 105% 100vh; */

    background-size: cover;

    animation: panning 30s infinite ease-in-out;

    position: fixed;

    z-index: -2;
}

/* HEADER */
header {
    width: 100%;
    background-color: #231809;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#miniLogo {
    font-family: "Old Stone", montserrat, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;

    background: url(https://wallpaperaccess.com/full/4856616.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 100%;
}

.logMenu {
    margin: 10px 26px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#headerUserPicture {
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

#headerIcon {
    height: 30px;
    cursor: pointer;
}

/* SEARCH USER */
#searchUserDiv {
    height: 28.5px;
}

#resultList {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #231809d5;
}

/* PROFILE */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#profileDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#picture {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

#userInfo {
    display: flex;
    flex-direction: column;
    gap: 10.5px;
}

#xBtn {
    float: right;
    margin: -10px -5px;
    cursor: pointer;
}

#bioDiv {
    width: 400px;
    text-align: justify;
}

/* USER PAGE */
.userPage {
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #140d05d5;
    display: flex;
}

.sidebar {
    margin-top: 70px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.344);
    display: flex;
    flex-direction: column;
}

/* USER CARD */

.userCard {
    width: 100%;
    padding: 20px;
    /* background-color: silver; */
}

/* TIMELINE */

.timeline {
    margin-top: 70px;
}

@keyframes panning {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: -70px 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
